{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
<legend>Todos os Artistas</legend>
	<div class="col-md-10 col-md-offset-1">
		       <table class="table table-striped" style="margin-top: 30px;" >
			        <tr>
			            <th> Artista </th>
			            <th> Genero </th>
			            <th> Avaliação Média </th>
			            <th> Favorito </th>
			        </tr>
                   {% for artist in artistas %}
			        <tr ng-repeat="artista in Artistas">
			        	<td><a href='/recommendations/artistas/{{artist.id}}'>{{artist.name}}</a></td>
				        		<td>{{artist.genero}}</td>
								<td>
									<span class='glyphicon glyphicon-star'></span>
					        		<span class='glyphicon glyphicon-star'></span>
					        		<span class='glyphicon glyphicon-star'></span>
					        		<span class='glyphicon glyphicon-star'></span>
					        		<span class='glyphicon glyphicon-star'></span>
				        		</td>
								<td><a href='#' class='btn btn-danger'><i class='glyphicon glyphicon-heart'></i></a></td>
			        </tr>
                   {% endfor %}
      </table>

	</div>
</div>
{% endblock content %}