<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <base href="/">

  <title>Sistema de Recomendações</title>
  <!-- jquery -->
  <script src="static/libs/jquery/dist/jquery.min.js"></script>

  <!-- Bootstrap-->
  <link rel="stylesheet" type="text/css" href="static/libs/bootstrap/dist/css/bootstrap.min.css">
  <script src="static/libs/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Custom CSS-->
  <link rel="stylesheet" type="text/css" href="static/custom/css/custom.css">

</head>


<body>

  <!-- Static navbar -->
      <nav class="navbar navbar-inverse navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/recommendations">Spot-On</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="recommendations/artistas">Artistas</a></li>
                <li><a href="recommendations/sobre">Sobre</a></li>
              </ul>
             <form class="navbar-form navbar-right" action="/admin/">
                <a href="/admin/"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Área Restrita</button></a>
            </form>
          </div><!--/.nav-collapse -->
        </div><!--/.container-Wfluid -->
      </nav>
  {% block content %}{% endblock %}
<footer id="footer" class="footer text-center" style="background-color: #fffff; ">
<div class="container">
<p class="text-muted"> Sistema de Recomendações | 2015 - Todos os direitos reservados. Desenvolvido por <a href="http://www.pauloxavier.com" target="_blank" >Paulo Xavier</a> e <a href="https://www.facebook.com/gosegobia?fref=ts" target="_blank">Gabriel Segobia.<br><a href="mailto:contato.pauloxavier@gmail.com" target="_blank" ><span class="glyphicon glyphicon-envelope"> </span> contato.pauloxavier@gmail.com</a> ou <a href="mailto:segobia.gos@gmail.com" target="_blank" ><span class="glyphicon glyphicon-envelope"> </span> segobia.gos@gmail.com </a></p>
</div>
</footer>
</body>
</html>